<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Car DB</title>
    <style>
    input:invalid {
        border: 2px dashed red;
    }
    input:valid {
        border: 2px solid black;
    }
    </style>
</head>
<body>
    <br>
[ <a href="/index.html"> Home </a> | <a href= "/people/">People</a> | <a href="/manufacturers/">Manufacturers</a> | <a href="/cars/"> Cars</a> | <a href="/engines/"> Engines</a> ]
    <br>
    {{{body}}}

</body>
</html>